body {
    background: #000;
    margin: 0;
}
.dead-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
    /*opacity: 0.5;*/
} 

.atenttion-row { 
    background-color: yellow; 
} 

